{% if section.settings.blog.articles.size > 0 %}
  <div class="blogpost-section">
    <h2 class="blogpost_heading-{{section.id}}">Featured Blogs</h2>
    <div class="blogpost-container container">
      <div class="blogpost-content flex">
        {% for article in section.settings.blog.articles limit: 4 %}
          <div class="blog-card">
            {% render 'blog-card', article: article %}
          </div>
        {% endfor %}
      </div>
      <a href="{{blog.articles}}" class="button button--primary button-{{section.id}}">
        {{ section.settings.button_text }}
      </a>
    </div>
  </div>
{% endif %}

{% style %}
  .blogpost_heading-{{ section.id}}{
    color: {{ section.settings.heading_text_color}}
    ;
    text-align: {{ section.settings.heading_position}}
    ;
    padding: 0 2rem;
    /* margin-bottom: 1.2rem; */
  }

  .button-{{ section.id}}{
    background-color: {{ section.settings.button_background-color}}
    ;
    color: {{ section.settings.button_text_color}}
    ;
    border: 2px solid {{ section.settings.button_border_color}};
    border-radius: {{section.settings.button_border_radius}};
  }
{% endstyle %}


{% schema %}
  {
    "name": "Blogpost Section",
    "class": "homepage section",
    "tag": "section",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Choose a Blog"
      },
      {
        "type": "color",
        "id": "heading_text_color",
        "label": "Heading Color",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "heading_position",
        "label": "Heading position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "View all"
      }, {
        "type": "color",
        "id": "button_background-color",
        "label": "Button Background Color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "button_border_color",
        "label": "Button Border Color",
        "default": "transparent"
      }, {
        "type": "range",
        "id": "button_border_radius",
        "min": 6,
        "max": 150,
        "step": 1,
        "unit": "px",
        "label": "Button Border Radius",
        "default": 45
      }
    ],
    "presets": [
      {
        "name": "Blogpost Section"
      }
    ]
  }
{% endschema %}