<div class="header flex align-center">
  <div class="logo">
    {% assign mobile_image = section.settings.image_mobile | default: section.settings.image %}
    {% render 'image', class: '', mobileSrc: mobile_image, desktopSrc: section.settings.image %}
  </div>
  <div>
    <ul class="parent flex">
      {% for link in section.settings.linklist.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links != blank %}
            <ul class="child">
              {% for child_link in link.links %}
                <li>
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  {% if child_link.links != blank %}
                    <ul class="grandchild">
                      {% for grandchild_link in child_link.links %}
                        <li>
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <button class="button button-{{section.id}}">{{ section.settings.button_text }}</button>
  <i class="fa-solid fa-bars" id="bar-icon"></i>
</div>

{% style %}
  .header {
    background-color: {{ section.settings.background_color}}
    ;
  }

  a {
    color: {{ section.settings.text_color}}
    ;
  }

  .button-{{ section.id}}{
    border-radius: 1rem;
    background-color: {{ section.settings.button_background_color}}
    ;
    color: {{ section.settings.button_text_color}}
    ;
    cursor: pointer;
  }

  @media only screen and (max-width: 749px) {
    ul {
      font-size: 1.3rem;
      margin-left: -2.5rem;
    }
  }

  @media only screen and (max-width: 581px) {
    .button-{{ section.id}}{
      max-height: 1rem;
      max-width: 2rem;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1200 x 500px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
        "info": "600 x 800px .jpg recommended"
      },
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Linklist"
      }, {
        "type": "link_list",
        "id": "linklist_mobile",
        "label": "Linklist Mobile"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#2f2e21"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SignIn"
      }, {
        "type": "color",
        "id": "button_background_color",
        "label": "Button Background Color",
        "default": "#2f2e21"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}