<div class="header flex align-center justify-between">
  <div class="logo">
    {% if section.settings.image != blank or section.settings.image_mobile != blank %}
    {% assign mobile_image = section.settings.image_mobile | default: section.settings.image %}
    {% render 'image', class: '', mobileSrc: mobile_image, desktopSrc: section.settings.image %}
    {%  else %}
    <div class="header__logo-text">{{section.settings.logo_text}}</div>
    {% endif %}
  </div>
  <div>
    <ul class="parent flex">
      {% for link in section.settings.linklist.links %}
        <li>
          <a class="navbar-title" href="{{ link.url }}">+ {{ link.title }}</a>
          {% if link.links != blank %}
            <ul class="child">
              {% for child_link in link.links %}
                <li>
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  {% if child_link.links != blank %}
                    <ul class="grandchild">
                      {% for grandchild_link in child_link.links %}
                        <li>
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="mobile_links">
      {% for link_mob in section.settings.linklist_mobile.links %}
        <li>
          <a class="" href="{{ link_mob.url }}">+ {{ link_mob.title }}</a>
          <hr>
          {% if link_mob.links != blank %}
            <ul class="child_mob">
              {% for m_child_link in link_mob.links %}
                <li>
                  <a href="{{ mob_child_link.url }}">{{ mob_child_link.title }}</a>
                  {% if mob_child_link.links != blank %}
                    <ul class="grandchild_mob">
                      {% for mob_grandchild_link in mob_child_link.links %}
                        <li>
                          <a href="{{ mob_grandchild_link.url }}">{{ mob_grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="button-plus-icons">
    <select class="currency__selector" name="country_info" id="country_info">
      {% for country in localization.available_countries %}
        <option>{{country.name}} ({{country.currency.symbol}})</option>
      {% endfor %}
    </select>
    <button class="button button-{{section.id}}">{{ section.settings.button_text }}</button>
    <i class="fa-solid fa-bars" id="bar-icon"></i>
    <a href="{{routes.search_url}}"><img class="search-icon" src="{{'search-icon.png' | asset_url}}" alt="" srcset=""></a>
    <a class="user-icon" href="{{ routes.account_url }}">{%- render 'icon-user' -%}</a>
    <a href="{{ routes.cart_url }}" class="cart-icon">
      {%- render 'icon-cart' -%}
  </div>
</div>

{% style %}
  .header {
    background-color: {{ section.settings.background_color}}
    ;
  }

  a {
    color: {{ section.settings.text_color}}
    ;
  }

  .button-{{ section.id}}{
    border-radius: 1rem;
    background-color: {{ section.settings.button_background_color}} !important
    ;
    color: {{ section.settings.button_text_color}}
    ;
    cursor: pointer;
  }

  @media only screen and (max-width: 749px) {
    ul {
      font-size: 1.3rem;
      margin-left: -2.5rem;
    }
  }

  @media only screen and (max-width: 581px) {
    .button-{{ section.id}}{
      max-height: 1rem;
      max-width: 2rem;
      display: none;
    }
  }
{% endstyle %}

<script> 
  let bars = document.querySelector('#bar-icon');
  let list = document.querySelector('.mobile_links')
  bars.addEventListener('click', () => {
    list.style.display === 'none' ? 'block' : 'none';
  })
  </script>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1200 x 500px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
        "info": "600 x 800px .jpg recommended"
      },{
        "type": "text",
        "id": "logo_text",
        "label": "Logo Text",
        "default": "Influence"
      },
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Linklist"
      }, {
        "type": "link_list",
        "id": "linklist_mobile",
        "label": "Linklist Mobile"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#2f2e21"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SignIn"
      }, {
        "type": "color",
        "id": "button_background_color",
        "label": "Button Background Color",
        "default": "#2f2e21"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}