{% if section.blocks.size > 0 %}
  <div class="img-text__container flex">
    {% for block in section.blocks %}
      <div class="img-text__content column">
        <div class="img-text__image">
          {% assign mobile_image = block.settings.image_mobile | default: block.settings.image %}
          {% render 'image', class: '', mobileSrc: mobile_image, desktopSrc: block.settings.image %}
        </div>
        <div class="img-text__text">
          <h4 class="img-text__heading-{{block.id}}">{{ block.settings.heading_text }}</h4>
          <p class="img-text__paragraph-{{block.id}}">{{ block.settings.pargraph_text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% style %}
  .img-text__text {
    background-color: {{ section.settings.background_color}}
    ;
  }

  {% for block in section.blocks %}
    .img-text__heading-{{ block.id}}{
      color: {{ block.settings.heading_text_color}}
      ;
    }

    .img-text__paragraph-{{ block.id}}{
      color: {{ block.settings.paragraph_text_color}}
      ;
    }
  {% endfor %}

  @media only screen and (max-width: 749px) {
    .img-text__container {
      flex-direction: column;
    }

    .img-text__content {
      width: 90%;
      margin: 0.7rem auto;
    }

    .img-text__text {
      padding: 1rem 1.9rem;
    }
  }
{% endstyle %}


{% schema %}
  {
    "name": "image text section",
    "class": "homepage section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Content Background color",
        "default": "#ece2cc"
      }
    ],
    "blocks": [
      {
        "name": "img text blocks",
        "type": "img_text_blocks",
        "limit": 4,
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1200 x 500px .jpg recommended"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (Mobile)",
            "info": "600 x 800px .jpg recommended"
          },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text",
            "default": "MODERN"
          }, {
            "type": "color",
            "id": "heading_text_color",
            "label": "Heading Text color",
            "default": "#000"
          }, {
            "type": "textarea",
            "id": "pargraph_text",
            "label": "Paragraph Text",
            "default": "<p>Modern ready-to-wear fashion brand with a focus on design, comfort and quality. Clean lines, soft shapes and subtle details.</p>"
          }, {
            "type": "color",
            "id": "paragraph_text_color",
            "label": "Paragraph Text color",
            "default": "#000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "image text section"
      }
    ]
  }
{% endschema %}